.form {
  background: #C6C6C6;
  display: block;
  height: 80px;
  line-height: 80px;
  width: 100%;
}
  .form__group {
    border: none;
    display: inline-block;
    line-height: normal;
    margin: 0;
    vertical-align: middle;
    width: 49.5%;
  }
  .form__label {

  }
    .form__label + .form__label {
      margin-left: 30px;
    }
  .form__radio {
    display: none;
  }
    .form__radio:checked + .form__radio-label {
      font-weight: bolder;
      text-decoration: underline;
    }
  .form__radio-label {
    cursor: pointer;
  }
  .form__date {
    font-family: inherit;
  }